#ignore Directories
Debug/
.settings/
doc/html
.metadata/


#ignore directories
ejemplo_adc_int/
ejemplo_adc_polling/
keypad/
oled_ssd1306/
registros_backup/




#ignore files
*.cproject
*.project
*.launch
*.ld


doc/latex/*
!doc/latex/refman.pdf

